/* work sans font form google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto+Slab:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    /* margin: 0;
    padding: 0; */
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.primary-btn {
    border-radius: .5rem;
    background: #FF900E;
    padding: 1.25rem 1.5rem;
    color: #ffff;
    border: 0;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.text-light-gray {
    color: #727272;
}

/* header sytle */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}



/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 3.5rem;
    color: #131313;
    font-weight: 700;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main section styles */
main {
    max-width: 1240px;
    margin: 70px auto;
}

/* team section styles */
.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 4.2rem;
    padding-right: 4.2rem;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    padding-bottom: 10px;
}

/* features section styles */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.feature-content .feature-title {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
    font-size: 2.6rem;
}

.feature-content .card {
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.ten-year {
    border-radius: 8px;
    background: #FF900E;
    padding: 2.6rem;
    color: #ffff;
    width: 19rem;
    text-align: center;
    position: relative;
    bottom: 150px;
}

.feature-img img {
    height: 90%;
    margin-left: 70px;

}

.ten-year h2 {
    font-size: 3.5rem;
    margin: 0;
}

.ten-year p {
    font-size: 25px;
    font-weight: 500;
}

/* facts section styles */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 3px;
}

/* sponsors section styles */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}
/* footer section style */
.footer{
    text-align: center;
    background-color: rgba(255, 244, 231, 1);
    padding: 25px ;
    margin: 0 240px 100px 240px;
}




/* responsive media queries */
/* for mobile device */ 
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .feature-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .feature-img img {
        width: 90%;
        margin-left: 1.3rem;
    }

    .ten-year {
        position: static;
        padding: .6rem;
        width: 250px;
        margin-left: 60px;
    }

    .ten-year h2 {
        font-size: 2.5rem;
        padding-top: 5px;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .facts-card-container {
        gap: 20px;
    }

    .section-content {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer {
        margin: 0;
    }
}


/* for tablet device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .team-container,
    .features,
    .sponsors-img-container {
        flex-direction: column;
    }

    .ten-year {
        padding: 2rem;
        width: 17rem;
    }

    .teams-content {
        text-align: center;
    }

    .facts-card-container {
        gap: 20px;
    }

    .section-content {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer{
        margin: 0 40px 20px 40px;
    }
}