/* work sans font form google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto+Slab:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    /* margin: 0;
    padding: 0; */
}

.primary-btn {
    border-radius: .5rem;
    background: #FF900E;
    padding: 1.25rem 1.5rem;
    color: #ffff;
    border: 0;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.text-light-gray {
    color: #727272;
}

/* header sytle */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 3.5rem;
    color: #131313;
    font-weight: 700;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 70px auto;
}

/* team section styles */
.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 4.2rem;
    padding-right: 4.2rem;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    padding-bottom: 10px;
}

/* responsive media queries */
/* for mobile device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

/* for tablet device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .team-container {
        flex-direction: column;
    }
    .teams-content {
        text-align: center;
    }
}